<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  
  <title>Document</title>
</head>
<body>
  <div id="banner">

  </div>
  <div id="svg-container">

  </div>
  <footer>
    <div>
      Profile
    </div>
    <div>
      Level
    </div>
    <div>
      Score
    </div>
    <div>
      <button class="round pause">
        <svg>
          
        </svg>
      </button>
    </div>
  </footer>
</body>
</html>